site_name: ITS Open Source Process
site_description: ITS Open Source Process {{ release-number }}
repo_url: https://github.com/ite-org/NTCIP-8008
nav:
  - Front Matter:
      - Title Page: index.md
      - Notices: notices.md
      - Acknowledgements: acknowledgements.md
      - Foreword: foreword.md
      - Introduction: introduction.md
  - 1 General: general.md
  - 2 Overview: overview.md
  - 3 Commenter Responsibilities: commenter-responsibilities.md
  - 4 Contributor Responsibilities: contributor-responsibilities.md
  - 5 Maintainer Responsibilities: maintainer-responsibilities.md
  - 6 WG Responsibilities: wg-responsibilities.md
  - A Code of Conduct: code-of-conduct.md
  - B Documentation Conventions: documentation-conventions.md
  - C Coding Conventions: coding-conventions.md
  - D Material for MkDocs Eamples: examples.md
site_url: https://ite-org.github.io/NTCIP-8008/
copyright: <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://github.com/ite-org/NTCIP-8008">ITS Open-Source Process</a> by <span property="cc:attributionName">NTCIP</span> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""></a></p>
theme:
  name: material
  features:
    - content.code.copy
    - content.status
    - content.tooltips
    - icons
    - navigation.path
    - navigation.top
  custom_dir: overrides
  icon:
    repo: fontawesome/brands/github
    admonition:
      question: fontawesome/solid/comments
extra_css:
  - stylesheets/extra.css
  - stylesheets/pdf.css
extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
plugins:
  - search
  - git-revision-date-localized:
      type: date
  - to-pdf:
      author: "AASHTO / ITE / NEMA"
      copyright: "CC-BY-4.0 (https://creativecommons.org/licenses/by/4.0/)"
      cover_logo: images/NTCIP.jpg
      cover_subtitle: "https://ite-org.github.io/NTCIP-8008/latest/"
#      enabled_if_env: "EXPORT_PDF"
      output_path: pdf/NTCIP-8008.pdf
      download_link: header
      ordered_chapter_level: 0
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - meta
  - footnotes
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      auto_append:
        - resources/glossary.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
extra:
  search:
    highlight: true
  hide:
    - title
  version:
    provider: mike
    alias: true
    default: latest
